# ignore audio files
TriggerWordActivate/AudioOut/*.wav

# ignore exported datasets
TriggerWordActivate/ExportDataSets/*

#ignore pycache folder
TriggerWordActivate/__pycache__

#ignore vscode folder
TriggerWordActivate/.vscode